@model List<DisplayedAlbumDto>

<h3>Albums</h3>

<div class="explore-table mt-4">
    @if (Model.Any())
    {
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr class="table-header">
                    <th width="80">Actions</th>
                    <th>Cover</th>
                    <th>Title</th>
                    <th width="200">Artist</th>
                    <th width="200">Genre</th>
                    <th width="60">Add</th>
                </tr>
            </thead>
            @foreach (var album in Model)
            {
                <tr class="min-width">
                    <td style="display: flex">
                        <button class="albumlikebtn @(album.Liked ? "liked" : "")" albumid="@album.Id"><i class="fa-solid fa-heart"></i></button>
                        <button class="songplaybtn" songname="@string.Join(',', album.Songs.Select(s => s.Title))"><i class="fa-solid fa-play"></i></button>
                    </td>
                    <td>
                        <img class="explore-table-albums-cover" src="~/uploads/albums/@album.CoverImage" />
                    </td>
                    <td>
                        <a asp-controller="Details" asp-action="Albums" asp-route-id="@album.Id">@album.Title</a>
                    </td>
                    <td>@album.ArtistName</td>
                    <td>@album.Genre</td>
                    <td>
                        <button class="btn btn-light addQueue" songname="@string.Join(',', album.Songs.Select(s => s.Title))">Add</button>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No albums were found.</p>
    }
</div>