@model List<ArtistViewModel>

<h3>Artist</h3>

<div class="explore-table mt-4">
    @if (Model.Any())
    {
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr class="table-header">
                    <th width="80">Actions</th>
                    <th>Title</th>
                    <th width="200">Genre</th>
                </tr>
            </thead>
            @foreach (var artist in Model)
            {
                <tr class="min-width">
                    <td style="display: flex">
                        <button class="artistlikebtn @(artist.Liked ? "liked" : "")" artistid="@artist.Id"><i class="fa-solid fa-heart"></i></button>
                        <button class="songplaybtn"><i class="fa-solid fa-play"></i></button>
                    </td>
                    <td>
                        <a asp-controller="Details" asp-action="Artists" asp-route-id="@artist.Id">@artist.Name</a>
                    </td>
                    <td>@artist.Genre</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No artists were found.</p>
    }
</div>